@font-face {
    font-family: 'Bold';
    src: url('../../public/font/IBMPlexArabic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SemiBold';
    src: url('../../public/font/IBMPlexArabic-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Medium';
    src: url('../../public/font/IBMPlexArabic-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: url('../../public/font/IBMPlexArabic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Light';
    src: url('../../public/font/IBMPlexArabic-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Thin';
    src: url('../../public/font/IBMPlexArabic-Thin.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: 'Regular';
}

$colorJellyfish:#26C5A8;
$colorMangoOrange:#FF7554;
$colorLightOrange:#ECBB3E;
$colorBalticSea:#222B40;
$colorMidnight:#111C36;
$colorPurpleBlue:#7332FE;
$colorSoftBlue:#5398FF;
$colorJordyBlue:#8BA7F0;
$colorMilkWhite:#FFFFFF;
$colorWhiteRock:#ECE8E5;
$colorLinen:#F3F1EF;
$colorQuillGrey:#D9D9D9;

$FontBold :'Bold';
$FontSemiBold :'SemiBold';
$FontMedium :'Medium';
$FontRegular :'Regular';
$FontLight :'Light';
$FontThin :'Thin';

@mixin btn1(){
    background-color:$colorJellyfish ;
    color: $colorMilkWhite;
    border: 0px;
    height: 40px;
    font-size: 13pt;

}



.container-page{
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 300px - 50px - 50px);
    margin-right: 50px;    
    padding: 15px;
    background-color: $colorBalticSea;
    border-radius: 10px;
    align-items: center;
    .btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    >.title{
        text-align: center;
        color: $colorLinen;
        font-family: $FontBold;
        margin: 10px 0px 20px 0px;

    }

}

.InpRdiIcn{
    display: flex;
    flex-direction: row;
    width: 245px;
    justify-content: space-between;
    margin: 10px 0px;
    .rdi{
        width: 200px;
        height: 40px;
        background: $colorMilkWhite;
        border: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        input{
            display: none;
            + label{
                text-align: center;
                display: flex;
                flex-direction: row;
                &::before{
                    content: '';
                    width: 16px;
                    height: 16px;
                    border-radius: 20%;
                    background-color: $colorLinen;
                    border: 2px $colorMilkWhite solid;
                    margin-left: 8px;
                    outline: 1px $colorLightOrange solid;
                }
            }
            &:checked{
                + label{
                    &::before{
                        background: $colorLightOrange;
                    }

                }
            }
        }
    }
    .icn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $colorMilkWhite;
        span{
            font-size: 15pt;
            color: $colorSoftBlue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
.InpIcn{
    display: flex;
    flex-direction: row;
    width: 245px;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
    input, select{
        width: 190px;
        height: 40px;
        background: $colorMilkWhite;
        border: 0px;
        padding: 0px 5px;
        &::-webkit-inner-spin-button{
            display: none;
        }
        &::-webkit-outer-spin-button{
            display: none;
        }
        &:focus{
            outline: 0px;

        }
    }
    select{
        width: 200px;
    }
    .icn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $colorMilkWhite;
        span{
            font-size: 15pt;
            color: $colorSoftBlue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.InpIcnLbl{
    @extend .InpIcn;
    width: 330px;
    >p{
        color: $colorJordyBlue;
        background: $colorMilkWhite;
        height: 40px;
        width: 80px;
        font-family: $FontSemiBold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

html, body, #root{
    height: 100%;
    background: $colorMidnight;
}


.mini-load{
    width: 120px;
    height: 120px;
    background: rgba($colorMilkWhite,0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    .circle{
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px $colorMidnight solid;
        border-radius: 50%;
        border-top-color: $colorLightOrange;
        animation: miniloader 1.5s  0s infinite;
        animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
        animation-direction: reverse;
        img{
            height: 60%;
            animation: miniloaderimg 1.5s  0s infinite;
            animation-direction: reverse;
            animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);



        }
    }
    p{
        font-size: 11pt;
    }
    @keyframes miniloader {
        

        to{
            transform: rotate(360deg);
        }
        
    }
    @keyframes miniloaderimg {
        to{
            transform: rotate(-360deg);
        }
        
    }

}

.table{
    width: 100%;
    border-radius: 15px !important;
    overflow: hidden !important;
    border: 1px $colorBalticSea solid !important;

    .tabulator-col{
        background:  mix($colorBalticSea, $colorJordyBlue, 90) !important;
        text-align: center !important;
    }
    .tabulator-header{
        color: $colorMilkWhite !important;
    }
    .tabulator-arrow{
        border-bottom: 6px solid $colorBalticSea !important;
    }
    .tabulator-col-title{
        font-family: $FontBold !important;
        font-size: 13pt !important;
    }
    .tabulator-col{
        border-left: 1px $colorBalticSea solid !important;
    }
    .tabulator-header{
        border-bottom: 1px $colorBalticSea solid !important;
    }
    .tabulator-footer{
        background: mix($colorBalticSea, $colorJordyBlue, 80) !important;
    }
    .tabulator-cell{
        border-left: 1px $colorBalticSea solid !important;
    }
    .tabulator-row-odd{
        background: mix($colorBalticSea, $colorJordyBlue, 70) !important;;
    }
    .tabulator-row-even{
        background: mix($colorBalticSea, $colorJordyBlue, 60) !important;;
    }
    .tabulator-table{
        color: $colorLinen !important;
        text-align: center !important;
    }
}
.txtp-load{
    width: 100%;
    display: flex;
    flex-direction: column;
    .cntnr{
        display: flex;
        flex-direction: row;
        margin: 10px 0px;
        width: 100%;
        align-items: center;
        .square{
            width: 85px;
            height: 50px;
            background: $colorQuillGrey;
            border-radius: 8px;
            animation: gradientAnimation 2s 0.6s cubic-bezier(0.47, 0.03, 0.49, 1.37) infinite;
            animation-direction: alternate-reverse;
            background: linear-gradient(-80deg, rgba($colorQuillGrey,0.7), rgba($colorLinen, 0.3), rgba($colorQuillGrey,0.7));
            background-size: 150% 150%;
            color: transparent;
        }

        .lines{
            display: flex;
            flex-direction: column;
            width: 100%;
            .line{
                width: calc(100% - 40px);
                height: 20px;
                border-radius: 5px;
                margin: 5px 20px;
                animation: gradientAnimation 2s cubic-bezier(0.47, 0.03, 0.49, 1.37) infinite;
                animation-direction: alternate-reverse;
                background: linear-gradient(-45deg, rgba($colorQuillGrey,0.7), rgba($colorLinen, 0.3), rgba($colorQuillGrey,0.7));
                background-size: 200% 200%;
                color: transparent;
            }
        }
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }


.user-login{
    display: flex;
    height: 100%;
    flex-direction: column;
    background: $colorWhiteRock;
    header{
        height: 250px;
        background: $colorMidnight;
        width: 100%;
        .logos{
            position: absolute;
            top: 75px;
            left: 15%;
            width: 350px;
            height: 350px;

            .circle{
                width: 100%;
                height: 100%;
            }
            .logoConteiner{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: right;
                position: absolute;
                top: 95px;
                left: 80px;
                img{
                    margin: 10px 0px;
                }
                :nth-child(1){
                    width: 70px;
                }
                :nth-child(2){
                    width: 200px;
                }
            }



        }
    }
    .login{
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        margin: 50px 100px;
        align-items: center;
        height: 50%;
        width: 400px;
        align-items: flex-end;
        .rowBrand{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 85%;
            justify-content: space-between;
            img{
                width: 30px;
            }
            h1{
                font-size: 18pt;
                font-family: $FontBold;
                font-weight: 800;
            }
            h6{
                font-size: 13pt;
                font-family: $FontLight;
                font-weight: 400;
            }

        }
        .FormContiner{
            width: 245px;
            margin-top: 35px;
            h5{
                font-family: $FontBold;
                font-weight: 600;
            }
            .ent{
                @include btn1();
                width: 100%;
            }
            .editPhone{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0px;
                p{
                    color: $colorSoftBlue;
                    cursor: pointer;
                    font-size: 11pt;
                }
            }
            
            .InpCpt{
                display: flex;
                flex-direction: row;
                width: 245px;
                justify-content: space-between;
                margin: 10px 0px;
                .ic{
                    display: flex;
                    flex-direction: row;
                    background: #ECE8E5;
                    width: 200px;
                    input{
                        width: calc(40% - 20px);
                        height: 40px;
                        background: $colorMilkWhite;
                        border: 0px;
                        padding: 0px 5px;
                        margin: 0px 0px 0px 10px;
                        &:focus{
                            outline: 0px;
                        }
                        &::-webkit-inner-spin-button{
                            display: none;
                        }
                        &::-webkit-outer-spin-button{
                            display: none;
                        }
                    }
                    img{
                        width: 60%;
                        
                        cursor: pointer;
                    }
                }
                .icn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: $colorMilkWhite;
                    cursor: pointer;
                    span{
                        font-size: 15pt;
                        color: $colorSoftBlue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

    }
}

.dashboard{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: -webkit-fill-available;
    background-color: $colorMidnight;
    padding-left: 30px;
    main{
        display:flex;
        flex: 1;
        flex-direction: row;
        padding-bottom: 50px;
       
        
    }
    header{
        display: flex;       
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-bottom: 30px;
        justify-content: space-between;
        margin-left: 50px;
        .account{
            display: none;
            background: $colorJordyBlue;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: 25px;
            margin-bottom: -5px;
            span{
                font-size: 25pt;
                color: $colorLinen;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .containerInfoUser{
                position: absolute;
                width: 200px;
                background: $colorMilkWhite;
                border-radius: 15px;
                top: 123px;
                left: calc(50% - 50px);
                z-index: 4;
                .InfoUserMenu{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .phonelable{
                        display: flex;
                        flex-direction: column-reverse;
                        padding: 10px 0px;
                        p{
                            text-align: center;
                        }
                        span{
                            display: none;
                        }
                    }
                    .countdown{
                        padding: 3px 13px;
                        margin: 10px;
                        background: $colorMangoOrange;
                        border-radius: 20px;
                        >p{
                            font-size: 11pt;
                        }
                        span{
                            display: none;
                        }

                    }
                    .credit{
                        background: $colorJellyfish;
                    } 

                }
            }

            
        }

        .Conteiner{
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: space-between;
            width: calc(100% - 280px - 50px);
            margin-right: 50px;
        }

        .logos{
            
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            :nth-child(1){
                width: 50px;
                
            }
            :nth-child(2){
                width: 150px;
                margin-left: 15px;
                
            }
            
        }
        
        
        >.exit{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 25px;
            width: 100px;
            border-radius: 5px;  
            justify-content: center;
            background-color: $colorBalticSea;
            font-family: $FontRegular;
            margin-right: 150px;
            cursor: pointer;
            :nth-child(1){
                display: flex;
                font-size: 12px;        
                color: $colorMangoOrange;
            }
            :nth-child(2){
                color: $colorLinen;
                font-size: 9pt;
                margin-right:5px ;
            }
           
        }
        .Info{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 2;

        }
        

        
    }
    

}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    background-color: $colorBalticSea;
    width: 280px;
    border-top-left-radius: 10px;
    .InfoUserMenu{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        div{
            width: 80%;
            margin: 10px 0px;
        }
        >:nth-child(1){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span{
                font-size: 35pt;
                color: $colorLinen;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                font-size: 13pt;
                color: $colorLinen;
            }
            >:nth-child(2){
                font-family: $FontSemiBold;
            }
            >:nth-child(1){
                font-family: $FontRegular;
            }
        }
        .countdown{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 35px;
            span{
                color: $colorLightOrange;
                font-size: 17pt;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 5px;
            }
            p{
                color: $colorMilkWhite;
                font-family: $FontRegular;
            }
        }
        .credit{
            background: $colorJellyfish;
        }
        .nocredit{
            background: $colorMangoOrange;
        }
    }
    .basic{
        width: 100%;
        margin-top: 50px;
        >p{
            color: aliceblue;
            cursor: pointer;
            width: 100%;
            height: 65px;
            font-family: $FontBold;
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .active{
            background: $colorQuillGrey;
            color: $colorMidnight;

            &::after{
                content: '';
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 7px solid $colorQuillGrey;
                position: absolute;
                left: -7px;
            }
        }
        .noactive{
            &:hover{
                background: rgba($color: $colorSoftBlue, $alpha: 0.25);
            }
        }

    }
    
}

.hide{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 3;
}

.payment{
    .detail{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        .box{
            display: flex;
            flex-direction: column;
            border: 1px $colorLinen solid;
            border-bottom: 0px;
            width: 400px;
            height: 150px;
            align-items: center;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background: $colorLinen;
            .icns{
                margin: 10px;
                span{
                    color: $colorJellyfish;
                    font-size: 40pt;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .ttls{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                
                h4{
                    color: $colorJordyBlue;
                    font-size: 20pt;
                    margin: 0px 7px;
                }
            }
            .prfr{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin-top: 31px;
                span{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $colorBalticSea;
                }
            }

        }
        .pay-box{
            display: flex;
            flex-direction: column;
            width: 400px;
            border: 1px $colorLinen solid;
            border-top: 0px;
            margin-top: 5px;
            align-items: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            padding-bottom: 20px;
            margin-bottom: 25px;
            .py-val{
                color: $colorMilkWhite;
                font-size: 12pt;
                margin: 15px;
            }
            .prc{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 30px;
                .prc-bs{
                    display: flex;
                    flex-direction: column;
                    margin: 0px 15px;
                    h4{
                        font-size: 12pt;
                        color: $colorQuillGrey;
                    }
                    h6{
                        font-size: 8pt;
                        color: $colorQuillGrey;
                    }
                }
                >:nth-child(2){
                    display: none;
                }
            }
            .discount{
                >:nth-child(1){
                    h4{
                        text-decoration: line-through;
                        color: rgba($colorLinen,0.5);
                    }
                    h6{
                        text-decoration: line-through;
                        color: rgba($colorLinen,0.5);

                    }
                }
                >:nth-child(2){
                    display: flex;
                }
            }

            >button{
                @include btn1();
                width: 110px;
                font-size: 10pt;
                margin-bottom: 10px;
                background-color: $colorSoftBlue;
            }
            .code-msg{
                color: $colorMilkWhite;
                font-size: 13pt;
                font-family: $FontSemiBold;
                margin: 10px
            }
            .alrt{
                margin: 10px 20px;
                background: mix($colorLightOrange,$colorLinen,50);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px 15px;
                border: 3px $colorLightOrange solid;
                border-radius: 10px;
                h6{
                    font-size: 12pt;
                    font-family: $FontBold;
                }
                p{
                    font-size: 12px;
                    text-align: justify;
                }

            }
            .dt-dt{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                margin: 15px 0px;
                p{
                    color: $colorLinen;
                    font-size: 12pt;
                    font-family: $FontMedium;
                }
            }
        }


    }

    >button{
        @include btn1();
        width: 245px;
        margin: 5px;
        cursor: pointer;
    }
    .cancel{
        background: $colorMangoOrange;
    }
}
.InfoUser{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .exit{
        display: none;
    }

    >p{
        display: flex;
        flex-direction: row;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        background-color: rgba($colorWhiteRock,0.7);
        border-radius: 5px ;
        width: 40px;
        height: 30px;
        
    }

   
    ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 60px;
        width: 150px;
        background-color: $colorQuillGrey;
        font-size: 13pt;
        border-radius: 10px;
        z-index: 4;
        overflow: hidden;
        :last-child{
            border-bottom: 0px !important;
        }
        


        li{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px;

            
            border-bottom: 1px $colorMidnight solid;
            &:hover{
                background-color: $colorLinen;
            }
            
            >p{
                font-size: 11pt;
                font-family: $FontRegular;
                margin-right: 10px;
                color: $colorMidnight;

            }
            >span{
                color: $colorMidnight;
                font-size: 17pt;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    
}

.alarms{

    .btns{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        
        .btn{
            display: flex;
            flex-direction: row;        
            font-size: 11pt;
            font-family: $FontLight;
            color: $colorMilkWhite;
            cursor: pointer;
        }
    }

}


.PopUp{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    position: absolute;
    width: 500px;
    height: 400px;
    top: calc((100% - 460px)/2);
    left: calc((100% - 560px)/2);
    background-color: $colorMidnight;
    padding: 30px;
    border-radius: 10px;
    z-index: 4;
    .TicketTitle{
        width: 100%;
    }
    .closeIcon{
        align-self: self-start;
        color: $colorLinen;
        font-size: 15pt;
    }
    >:nth-child(n){
        margin-bottom: 5px;
        padding: 5px;
        border: 0px;
        border-radius: 3px;
        &:focus{
            outline: 0px;
        }
    }   
    button{
        display: flex;
        flex-direction: row;
        width: 50px;
        text-align: center;
        justify-content: center;
        border: 0px;
        border-radius: 5px;
        background-color: $colorLinen;
        cursor: pointer;  
    }
    textarea{
        height: 70%;
        width: 100%
    }
    button{
        @include btn1();
        width: 200px
        
    }
}

.profile{
    button{
        @include btn1();
        width: 245px;
    }
}

.TimePricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    input{
        display: none;
        + label{
            display: flex;
            flex-direction: row;
            font-family: $FontMedium;
            color: $colorMilkWhite;
            justify-content:center;
            padding: 10px 20px;
            background: rgba($colorLinen, 0.1);
            transition: 0.5s;

        }
        &:checked{
            + label{
                background-color: $colorLightOrange;
                color: $colorBalticSea;

            }
        }
    }

}

.TimeDetail{
    display: flex;
    flex-direction: row;
    font-family: $FontRegular;
    color: $colorLinen;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        border: 1px rgba($color: $colorLinen, $alpha: 0.5) solid;
        width: 25%;
        height: 90%;
        border-radius: 15px;
        .type{
            font-size: 20pt;
            font-family: $FontBold;
            color: $colorMilkWhite;
        }
        >p{
            color: $colorQuillGrey;
            font-family: $FontMedium;
            font-size: 14pt;
        }
        .pricBox{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            >p{
                color: $colorQuillGrey;
                font-family: $FontMedium;
                font-size: 14pt;
            }
            .prcTikects{
                display: flex;
                flex-direction: row;
                align-items: center;
                .Tikect{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    >p{
                        margin: 0px 3px;
                    }
                    width: 100%;
                }
            }
        }
        button{
            @include btn1();
            width: 80%;

        }

        
    }
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;

    

    .create{
        display: flex;
        flex-direction: column;
        font-size: 20pt;
        color: $colorLinen;
        background-color: $colorMangoOrange;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        cursor: pointer;
        span{
            margin: 0px;
            cursor: pointer;
            font-size: 35px;
            height: 35px;
        }
        h6{
            font-size: 14pt;
            font-family: $FontThin;

        }
        &:hover{
            background: mix($colorMangoOrange, $colorLinen, 85);
        }
    }
    .create2{
        background: $colorLightOrange;
        &:hover{
            background: mix($colorLightOrange, $colorLinen, 85);
        }
    }
    .history{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        width: 100%;
        align-items: center;
        .picn{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            p{
                text-wrap: nowrap;
                color: $colorMilkWhite;
            }
            span{
                background: rgba($colorMilkWhite,0.7);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                margin: 5px;
                color: $colorBalticSea;
                font-size: 15pt;
                padding: 2px;
            }
        }
        >:nth-child(2n){
            background-color: $colorLinen;
            font: $colorBalticSea;
            .picn{
                p{
                    color: $colorMidnight;
                }
                span{
                    background: rgba($colorBalticSea,0.7);
                    color: $colorMilkWhite;
                }
            }
            .date{
                color: $colorBalticSea;
            }
            .title{
                color: $colorBalticSea;
            }
            .content{
                color: $colorBalticSea;
            }

            .AlarmsEdit{
                p, span{
                    color: $colorBalticSea !important;
    
                }
            }

            >p, >span{
                color: $colorBalticSea;

            }

        }
        >:nth-child(2n+1){
            font: $colorBalticSea;
            .date{
                color: $colorLinen;
            }
            .title{
                color: $colorLinen;
            }
            .content{
                color: $colorLinen;
            }
            >p, >span{
                color: $colorLinen;
            }
            
        }

        .element-row{
            height: 40px;
            margin: 3px 0px;
            align-items: center;
            justify-content: center; 
            font-family: $FontThin;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            border: 1px $colorLinen solid;
            width: 85%;
            justify-content: space-between;
            padding: 0px 20px;

            .AlarmsEdit{
                display: flex;
                flex-direction:row;
                width: 15%;
                justify-content: space-around;
                span{
                    font-size: 18pt;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    color: $colorLinen;

                    cursor: pointer;
                }
            }
            .date{
                flex: 1;
                text-align: center;
                font-size: 10pt;
            }
            .title{
                flex: 3;
                text-align: center;
                font-size: 15pt;
            }
            .content{
                flex: 8;
                text-align: center;
                font-size: 11pt;
                text-overflow: ellipsis;
            }
            p{
                font-size: 14pt;
                flex: 2;
            }
            >span{
                font-size: 18pt;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                cursor: pointer;
            }
        }
    }
}


.License{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    footer{
        button{
            background: transparent;
            border: 0px;
            font-size: 14pt;
            color: $colorBalticSea;
            font-family: $FontMedium;
            cursor: pointer;
        }
    }
}
.delpopupMassage{
     display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    position: absolute;
    width: 500px;
    height: 400px;
    top: calc((100% - 260px)/2);
    left: calc((100% - 375px)/2);
    background-color: $colorMidnight;
    padding: 30px;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    z-index: 3;
    p{
        font-size: 13pt;
        font-family: $FontMedium;
        color: $colorQuillGrey;
        margin: 40px 0px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        button{
        @include btn1();
        width: 80px;

        } 
              
    }
    
}

.parag-cntnt{
    width: 35%;
    padding: 20px 80px;
    height: 70vh;
    overflow-y: scroll;
    margin-top: 100px;
    &::-webkit-scrollbar {
        background: transparent;
        border-radius: 10px;
        border: 1px $colorBalticSea solid;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $colorBalticSea;
        border-radius: 10px;
    }

    >h3{
        font-family: $FontBold;
        font-size: 16pt;
    }
    li{
        list-style-type: none;
    }
    >ul{
        >li{
            >h6{
                font-size: 14pt;
            }
            >ul{
                padding-right: 20px;
            }
        }
    }


}

@media screen and (max-width:1024px){
    .user-login{
        .login{
            margin: 50px;
        }
        header{
            
            .logos{
                width: 200px;
                height: 200px;
                left: 10%;
                top: 150px;
                .logoConteiner{
                    top: 25px;
                    left: 40px;
                    :nth-child(1){
                        width: 55px;

                    }
                    :nth-child(2){
                        width: 130px;
                    }

                }
            }

        }
    }
    .dashboard{
        header{
            margin-left: 0px;
            .Conteiner{
                width: 100% ;
                margin-right: 50px;
            }
            .exit{
                margin-right: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
                width: 100px;
            }
        }
        .menu{
            width: 100px;
            .InfoUserMenu{
                .phonelable{
                    width: 95%;
                    flex-direction: column;
                    span{
                        font-size: 25pt;
                    }
                    p{
                        font-size: 11pt;
                    }
                }
                .countdown{
                    width: 80%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{display: none;}


                }
            }
        }
        .container-page{
            margin-right: 25px;
            width: calc(100% - 100px - 25px);

            .create{
                width: 80px;
                height: 80px;
                span{
                    font-size: 20pt;
                    height: 25px;
                }
                h6{
                    font-size: 11pt;
                }
            }
        }
    }
    
}

@media screen and (max-width:767px){
    .user-login{
        .login{
            margin: 150px 0px 0px 0px;
            .rowBrand{
                width: 60%;
                img{
                    display: none;
                }
            }

        }
        header{
            height: 150px;
            .logos{
                width: 200px;
                height: 200px;
                top: 50px;
                .logoConteiner{
                    top: 25px;
                    left: 40px;
                    :nth-child(1){
                        width: 55px;

                    }
                    :nth-child(2){
                        width: 130px;
                    }

                }
            }

        }
    }


    .parag-cntnt{
        margin-top: 200px;
        padding: 20px;
        width: calc(100% - 40px);
    }
    .dashboard{
        padding-left: 0px;
        header{
            .Conteiner{
                .logos{
                    :nth-child(1){
                        width: 30px;
                    }
                    :nth-child(2){
                        width: 100px;
                    }
                }
            }
            .account{
                display: flex;
            }
            >.exit{
                display: none;
            }
            .InfoUser{
                .exit{
                    display: flex;
                    width: 100%;
                }
            }
        }
        main{
            flex-direction: column-reverse;
            padding: 0px;
            width: 100%;
            align-items: center;
            .container-page{
                flex: 1;
                width: calc(100% - 20px - 30px);
                margin: 0px;
                margin-bottom: 20px;
                .PopUp{
                    width: 100%;
                    left: 0px;
                    padding: 0px;

                }
                .history{
                    .element-row{
                        .date{
                            font-size: 8pt;
                        }
                        .title{
                            font-size: 12pt;
                        }
                        .content{
                            flex: 5;
                            font-size: 10pt;
                        }
                        >span{
                            margin-left: 5px;
                        }
                        >p{
                            font-size: 9pt;
                            flex: 3;
                        }
                    }
                }
                .TimeDetail{
                    flex-direction: column;
                    align-items: center;
                    .section{
                        width: 90%;
                        .type{
                            margin: 15px 0px;
                        }
                        button{
                            width: 150px;
                            margin-bottom: 10px;
                        }

                    }
                }
            }
            .menu{
                width: 100%;
                flex-direction: row;
                padding: 0px;
                .InfoUserMenu{
                    display: none;
                }
                .basic{
                    margin: 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .active{
                        &::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 10px solid $colorQuillGrey;
                            position: absolute;
                            top: -20px; /* تنظیم ارتفاع مناسب */
                            left: 50%; /* تنظیم تراز افقی به وسط */
                            transform: translateX(-50%); /* تراز کردن افقی مثلث */
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:480px){
    .user-login{
        .login{
            width: auto;
            align-items: center;
        }
    }
    
}