@font-face {
  font-family: "Bold";
  src: url("../../public/font/IBMPlexArabic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: url("../../public/font/IBMPlexArabic-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: url("../../public/font/IBMPlexArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: url("../../public/font/IBMPlexArabic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: url("../../public/font/IBMPlexArabic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: url("../../public/font/IBMPlexArabic-Thin.ttf") format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  font-family: "Regular";
}

.container-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 300px - 50px - 50px);
  margin-right: 50px;
  padding: 15px;
  background-color: #222B40;
  border-radius: 10px;
  align-items: center;
}
.container-page > .title {
  text-align: center;
  color: #F3F1EF;
  font-family: "Bold";
  margin: 10px 0px 20px 0px;
}

.InpRdiIcn {
  display: flex;
  flex-direction: row;
  width: 245px;
  justify-content: space-between;
  margin: 10px 0px;
}
.InpRdiIcn .rdi {
  width: 200px;
  height: 40px;
  background: #FFFFFF;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.InpRdiIcn .rdi input {
  display: none;
}
.InpRdiIcn .rdi input + label {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.InpRdiIcn .rdi input + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 20%;
  background-color: #F3F1EF;
  border: 2px #FFFFFF solid;
  margin-left: 8px;
  outline: 1px #ECBB3E solid;
}
.InpRdiIcn .rdi input:checked + label::before {
  background: #ECBB3E;
}
.InpRdiIcn .icn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
}
.InpRdiIcn .icn span {
  font-size: 15pt;
  color: #5398FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InpIcn, .InpIcnLbl {
  display: flex;
  flex-direction: row;
  width: 245px;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}
.InpIcn input, .InpIcnLbl input, .InpIcn select, .InpIcnLbl select {
  width: 190px;
  height: 40px;
  background: #FFFFFF;
  border: 0px;
  padding: 0px 5px;
}
.InpIcn input::-webkit-inner-spin-button, .InpIcnLbl input::-webkit-inner-spin-button, .InpIcn select::-webkit-inner-spin-button, .InpIcnLbl select::-webkit-inner-spin-button {
  display: none;
}
.InpIcn input::-webkit-outer-spin-button, .InpIcnLbl input::-webkit-outer-spin-button, .InpIcn select::-webkit-outer-spin-button, .InpIcnLbl select::-webkit-outer-spin-button {
  display: none;
}
.InpIcn input:focus, .InpIcnLbl input:focus, .InpIcn select:focus, .InpIcnLbl select:focus {
  outline: 0px;
}
.InpIcn select, .InpIcnLbl select {
  width: 200px;
}
.InpIcn .icn, .InpIcnLbl .icn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
}
.InpIcn .icn span, .InpIcnLbl .icn span {
  font-size: 15pt;
  color: #5398FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InpIcnLbl {
  width: 330px;
}
.InpIcnLbl > p {
  color: #8BA7F0;
  background: #FFFFFF;
  height: 40px;
  width: 80px;
  font-family: "SemiBold";
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body, #root {
  height: 100%;
  background: #111C36;
}

.user-login {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #ECE8E5;
}
.user-login header {
  height: 250px;
  background: #111C36;
  width: 100%;
}
.user-login header .logos {
  position: absolute;
  top: 75px;
  left: 15%;
  width: 350px;
  height: 350px;
}
.user-login header .logos .circle {
  width: 100%;
  height: 100%;
}
.user-login header .logos .logoConteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  position: absolute;
  top: 95px;
  left: 80px;
}
.user-login header .logos .logoConteiner img {
  margin: 10px 0px;
}
.user-login header .logos .logoConteiner :nth-child(1) {
  width: 70px;
}
.user-login header .logos .logoConteiner :nth-child(2) {
  width: 200px;
}
.user-login .login {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin: 50px 100px;
  align-items: center;
  height: 50%;
  width: 400px;
  align-items: flex-end;
}
.user-login .login .rowBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}
.user-login .login .rowBrand img {
  width: 30px;
}
.user-login .login .rowBrand h1 {
  font-size: 18pt;
  font-family: "Bold";
  font-weight: 800;
}
.user-login .login .rowBrand h6 {
  font-size: 13pt;
  font-family: "Light";
  font-weight: 400;
}
.user-login .login .FormContiner {
  width: 245px;
  margin-top: 35px;
}
.user-login .login .FormContiner h5 {
  font-family: "Bold";
  font-weight: 600;
}
.user-login .login .FormContiner .ent {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 100%;
}
.user-login .login .FormContiner .editPhone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
.user-login .login .FormContiner .editPhone p {
  color: #5398FF;
  cursor: pointer;
  font-size: 11pt;
}
.user-login .login .FormContiner .InpCpt {
  display: flex;
  flex-direction: row;
  width: 245px;
  justify-content: space-between;
  margin: 10px 0px;
}
.user-login .login .FormContiner .InpCpt .ic {
  display: flex;
  flex-direction: row;
  background: #ECE8E5;
  width: 200px;
}
.user-login .login .FormContiner .InpCpt .ic input {
  width: calc(40% - 20px);
  height: 40px;
  background: #FFFFFF;
  border: 0px;
  padding: 0px 5px;
  margin: 0px 0px 0px 10px;
}
.user-login .login .FormContiner .InpCpt .ic input:focus {
  outline: 0px;
}
.user-login .login .FormContiner .InpCpt .ic input::-webkit-inner-spin-button {
  display: none;
}
.user-login .login .FormContiner .InpCpt .ic input::-webkit-outer-spin-button {
  display: none;
}
.user-login .login .FormContiner .InpCpt .ic img {
  width: 60%;
  cursor: pointer;
}
.user-login .login .FormContiner .InpCpt .icn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  cursor: pointer;
}
.user-login .login .FormContiner .InpCpt .icn span {
  font-size: 15pt;
  color: #5398FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: -webkit-fill-available;
  background-color: #111C36;
  padding-left: 30px;
}
.dashboard main {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 50px;
}
.dashboard header {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: space-between;
  margin-left: 50px;
}
.dashboard header .Conteiner {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 280px - 50px);
  margin-right: 50px;
}
.dashboard header .logos {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.dashboard header .logos :nth-child(1) {
  width: 50px;
}
.dashboard header .logos :nth-child(2) {
  width: 150px;
  margin-left: 15px;
}
.dashboard header .exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  justify-content: center;
  background-color: #222B40;
  font-family: "Regular";
  margin-right: 150px;
  cursor: pointer;
}
.dashboard header .exit :nth-child(1) {
  display: flex;
  font-size: 12px;
  color: #FF7554;
}
.dashboard header .exit :nth-child(2) {
  color: #F3F1EF;
  font-size: 9pt;
  margin-right: 5px;
}
.dashboard header .Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px;
  background-color: #222B40;
  width: 280px;
  border-top-left-radius: 10px;
}
.menu .InfoUserMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.menu .InfoUserMenu div {
  width: 80%;
  margin: 10px 0px;
}
.menu .InfoUserMenu > :nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu .InfoUserMenu > :nth-child(1) span {
  font-size: 35pt;
  color: #F3F1EF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .InfoUserMenu > :nth-child(1) p {
  font-size: 13pt;
  color: #F3F1EF;
}
.menu .InfoUserMenu > :nth-child(1) > :nth-child(2) {
  font-family: "SemiBold";
}
.menu .InfoUserMenu > :nth-child(1) > :nth-child(1) {
  font-family: "Regular";
}
.menu .InfoUserMenu .countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.menu .InfoUserMenu .countdown span {
  color: #ECBB3E;
  font-size: 17pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.menu .InfoUserMenu .countdown p {
  color: #FFFFFF;
  font-family: "Regular";
}
.menu .InfoUserMenu .credit {
  background: #26C5A8;
}
.menu .InfoUserMenu .nocredit {
  background: #FF7554;
}
.menu .basic {
  width: 100%;
  margin-top: 50px;
}
.menu .basic > p {
  color: aliceblue;
  cursor: pointer;
  width: 100%;
  height: 65px;
  font-family: "Bold";
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu .basic .active {
  background: #D9D9D9;
  color: #111C36;
}
.menu .basic .active::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 7px solid #D9D9D9;
  position: absolute;
  left: -7px;
}
.menu .basic .noactive:hover {
  background: rgba(83, 152, 255, 0.25);
}

.hide {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 2;
}

.InfoUser {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.InfoUser > p {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 232, 229, 0.7);
  border-radius: 5px;
  width: 40px;
  height: 30px;
}
.InfoUser ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  width: 150px;
  background-color: #D9D9D9;
  font-size: 13pt;
  border-radius: 10px;
  z-index: 3;
  overflow: hidden;
}
.InfoUser ul :last-child {
  border-bottom: 0px !important;
}
.InfoUser ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px #111C36 solid;
}
.InfoUser ul li:hover {
  background-color: #F3F1EF;
}
.InfoUser ul li > p {
  font-size: 11pt;
  font-family: "Regular";
  margin-right: 10px;
  color: #111C36;
}
.InfoUser ul li > span {
  color: #111C36;
  font-size: 17pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alarms .btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
}
.alarms .btns .btn {
  display: flex;
  flex-direction: row;
  font-size: 11pt;
  font-family: "Light";
  color: #FFFFFF;
  cursor: pointer;
}

.PopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 500px;
  height: 400px;
  top: calc((100% - 460px) / 2);
  left: calc((100% - 560px) / 2);
  background-color: #111C36;
  padding: 30px;
  border-radius: 10px;
  z-index: 3;
}
.PopUp .TicketTitle {
  width: 100%;
}
.PopUp .closeIcon {
  align-self: self-start;
  color: #F3F1EF;
  font-size: 15pt;
}
.PopUp > :nth-child(n) {
  margin-bottom: 5px;
  padding: 5px;
  border: 0px;
  border-radius: 3px;
}
.PopUp > :nth-child(n):focus {
  outline: 0px;
}
.PopUp button {
  display: flex;
  flex-direction: row;
  width: 50px;
  text-align: center;
  justify-content: center;
  border: 0px;
  border-radius: 5px;
  background-color: #F3F1EF;
  cursor: pointer;
}
.PopUp textarea {
  height: 70%;
  width: 100%;
}
.PopUp button {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 200px;
}

.profile button {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 245px;
}

.TimePricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.TimePricing input {
  display: none;
}
.TimePricing input + label {
  display: flex;
  flex-direction: row;
  font-family: "Medium";
  color: #FFFFFF;
  justify-content: center;
  padding: 10px 20px;
  background: rgba(243, 241, 239, 0.1);
  transition: 0.5s;
}
.TimePricing input:checked + label {
  background-color: #ECBB3E;
  color: #222B40;
}

.TimeDetail {
  display: flex;
  flex-direction: row;
  font-family: "Regular";
  color: #F3F1EF;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.TimeDetail .section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  border: 1px rgba(243, 241, 239, 0.5) solid;
  width: 25%;
  height: 90%;
  border-radius: 15px;
}
.TimeDetail .section .type {
  font-size: 20pt;
  font-family: "Bold";
  color: #FFFFFF;
}
.TimeDetail .section > p {
  color: #D9D9D9;
  font-family: "Medium";
  font-size: 14pt;
}
.TimeDetail .section .pricBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.TimeDetail .section .pricBox > p {
  color: #D9D9D9;
  font-family: "Medium";
  font-size: 14pt;
}
.TimeDetail .section .pricBox .prcTikects {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.TimeDetail .section .pricBox .prcTikects .Tikect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.TimeDetail .section .pricBox .prcTikects .Tikect > p {
  margin: 0px 3px;
}
.TimeDetail .section button {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 80%;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elements .create {
  display: flex;
  flex-direction: column;
  font-size: 20pt;
  color: #F3F1EF;
  background-color: #FF7554;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.elements .create span {
  margin: 0px;
  cursor: pointer;
  font-size: 35px;
  height: 35px;
}
.elements .create h6 {
  font-size: 14pt;
  font-family: "Thin";
}
.elements .create:hover {
  background: #fd886b;
}
.elements .history {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 100%;
  align-items: center;
}
.elements .history > :nth-child(2n) {
  background-color: #F3F1EF;
  font: #222B40;
}
.elements .history > :nth-child(2n) .date {
  color: #222B40;
}
.elements .history > :nth-child(2n) .title {
  color: #222B40;
}
.elements .history > :nth-child(2n) .content {
  color: #222B40;
}
.elements .history > :nth-child(2n) p, .elements .history > :nth-child(2n) span {
  color: #222B40;
}
.elements .history > :nth-child(2n+1) {
  font: #222B40;
}
.elements .history > :nth-child(2n+1) .date {
  color: #F3F1EF;
}
.elements .history > :nth-child(2n+1) .title {
  color: #F3F1EF;
}
.elements .history > :nth-child(2n+1) .content {
  color: #F3F1EF;
}
.elements .history > :nth-child(2n+1) p, .elements .history > :nth-child(2n+1) span {
  color: #F3F1EF;
}
.elements .history .element-row {
  height: 40px;
  margin: 3px 0px;
  align-items: center;
  justify-content: center;
  font-family: "Thin";
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border: 1px #F3F1EF solid;
  width: 85%;
  justify-content: space-between;
  padding: 0px 20px;
}
.elements .history .element-row .AlarmsEdit {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-around;
}
.elements .history .element-row .date {
  flex: 1;
  text-align: center;
  font-size: 10pt;
}
.elements .history .element-row .title {
  flex: 3;
  text-align: center;
  font-size: 15pt;
}
.elements .history .element-row .content {
  flex: 8;
  text-align: center;
  font-size: 11pt;
  text-overflow: ellipsis;
}
.elements .history .element-row p {
  font-size: 14pt;
  flex: 2;
}
.elements .history .element-row span {
  font-size: 18pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.License {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.delpopupMassage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 500px;
  height: 400px;
  top: calc((100% - 260px) / 2);
  left: calc((100% - 375px) / 2);
  background-color: #111C36;
  padding: 30px;
  border-radius: 10px;
  height: 200px;
  width: 300px;
  z-index: 3;
}
.delpopupMassage p {
  font-size: 13pt;
  font-family: "Medium";
  color: #D9D9D9;
  margin: 40px 0px;
}
.delpopupMassage .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.delpopupMassage .buttons button {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 80px;
}

@media screen and (max-width: 1024px) {
  .user-login .login {
    margin: 50px;
  }
  .user-login header .logos {
    width: 200px;
    height: 200px;
    left: 10%;
    top: 150px;
  }
  .user-login header .logos .logoConteiner {
    top: 25px;
    left: 40px;
  }
  .user-login header .logos .logoConteiner :nth-child(1) {
    width: 55px;
  }
  .user-login header .logos .logoConteiner :nth-child(2) {
    width: 130px;
  }
}
@media screen and (max-width: 767px) {
  .user-login .login {
    margin: 150px 0px 0px 0px;
  }
  .user-login .login .rowBrand {
    width: 60%;
  }
  .user-login .login .rowBrand img {
    display: none;
  }
  .user-login header {
    height: 150px;
  }
  .user-login header .logos {
    width: 200px;
    height: 200px;
    top: 50px;
  }
  .user-login header .logos .logoConteiner {
    top: 25px;
    left: 40px;
  }
  .user-login header .logos .logoConteiner :nth-child(1) {
    width: 55px;
  }
  .user-login header .logos .logoConteiner :nth-child(2) {
    width: 130px;
  }
}
@media screen and (max-width: 480px) {
  .user-login .login {
    width: auto;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */