@font-face {
  font-family: "Bold";
  src: url("../../public/font/IBMPlexArabic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: url("../../public/font/IBMPlexArabic-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: url("../../public/font/IBMPlexArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: url("../../public/font/IBMPlexArabic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: url("../../public/font/IBMPlexArabic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: url("../../public/font/IBMPlexArabic-Thin.ttf") format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  font-family: "Regular";
}

.container-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 300px - 50px - 50px);
  margin-right: 50px;
  padding: 15px;
  background-color: #222B40;
  border-radius: 10px;
}

.InpRdiIcn {
  display: flex;
  flex-direction: row;
  width: 245px;
  justify-content: space-between;
  margin: 10px 0px;
}
.InpRdiIcn .rdi {
  width: 200px;
  height: 40px;
  background: #FFFFFF;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.InpRdiIcn .rdi input {
  display: none;
}
.InpRdiIcn .rdi input + label {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.InpRdiIcn .rdi input + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 20%;
  background-color: #F3F1EF;
  border: 2px #FFFFFF solid;
  margin-left: 8px;
  outline: 1px #ECBB3E solid;
}
.InpRdiIcn .rdi input:checked + label::before {
  background: #ECBB3E;
}
.InpRdiIcn .icn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
}
.InpRdiIcn .icn span {
  font-size: 15pt;
  color: #5398FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InpIcn {
  display: flex;
  flex-direction: row;
  width: 245px;
  justify-content: space-between;
  margin: 10px 0px;
}
.InpIcn input {
  width: 190px;
  height: 40px;
  background: #FFFFFF;
  border: 0px;
  padding: 0px 5px;
}
.InpIcn input::-webkit-inner-spin-button {
  display: none;
}
.InpIcn input::-webkit-outer-spin-button {
  display: none;
}
.InpIcn input:focus {
  outline: 0px;
}
.InpIcn .icn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
}
.InpIcn .icn span {
  font-size: 15pt;
  color: #5398FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body, #root {
  height: 100%;
  background: #111C36;
}

.user-login {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #ECE8E5;
}
.user-login header {
  height: 250px;
  background: #111C36;
  width: 100%;
}
.user-login header .logos {
  position: absolute;
  top: 75px;
  left: 15%;
  width: 350px;
  height: 350px;
}
.user-login header .logos .circle {
  width: 350px;
  height: 350px;
}
.user-login header .logos .logoConteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  position: absolute;
  top: 95px;
  left: 80px;
}
.user-login header .logos .logoConteiner img {
  margin: 10px 0px;
}
.user-login header .logos .logoConteiner :nth-child(1) {
  width: 70px;
}
.user-login header .logos .logoConteiner :nth-child(2) {
  width: 200px;
}
.user-login .login {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin: 50px 100px;
  align-items: center;
  height: 50%;
  width: 450px;
}
.user-login .login .rowBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.user-login .login .rowBrand img {
  width: 30px;
}
.user-login .login .rowBrand h1 {
  font-size: 15pt;
  font-family: "Bold";
  font-weight: 800;
}
.user-login .login .rowBrand h6 {
  font-size: 11pt;
  font-family: "Light";
  font-weight: 400;
}
.user-login .login .FormContiner {
  width: 245px;
}
.user-login .login .FormContiner h5 {
  font-family: "Bold";
  font-weight: 600;
}
.user-login .login .FormContiner .ent {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 100%;
}
.user-login .login .FormContiner .InpCpt {
  display: flex;
  flex-direction: row;
  width: 245px;
  justify-content: space-between;
  margin: 10px 0px;
}
.user-login .login .FormContiner .InpCpt input {
  width: 110px;
  height: 40px;
  background: #FFFFFF;
  border: 0px;
  padding: 0px 5px;
}
.user-login .login .FormContiner .InpCpt input::-webkit-inner-spin-button {
  display: none;
}
.user-login .login .FormContiner .InpCpt input::-webkit-outer-spin-button {
  display: none;
}
.user-login .login .FormContiner .InpCpt img {
  width: 120px;
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: -webkit-fill-available;
  background-color: #111C36;
  padding-left: 100px;
}
.dashboard main {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 50px;
}
.dashboard header {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-bottom: 50px;
  justify-content: space-between;
}
.dashboard header .Conteiner {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 300px - 50px - 50px);
  margin-right: 50px;
}
.dashboard header .logos {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.dashboard header .logos :nth-child(1) {
  width: 50px;
}
.dashboard header .logos :nth-child(2) {
  width: 150px;
  margin-left: 15px;
}
.dashboard header .exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  justify-content: center;
  background-color: #222B40;
  font-family: "Regular";
  margin-right: 150px;
}
.dashboard header .exit :nth-child(1) {
  display: flex;
  font-size: 12px;
  color: #FF7554;
}
.dashboard header .exit :nth-child(2) {
  color: #F3F1EF;
  font-size: 9pt;
  margin-right: 5px;
}
.dashboard header .Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #222B40;
  width: 300px;
  border-top-left-radius: 10px;
}
.menu > p {
  color: aliceblue;
  cursor: pointer;
}

.InfoUser {
  display: flex;
  flex-direction: column;
  position: relative;
}
.InfoUser > p {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 232, 229, 0.7);
  border-radius: 5px;
  width: 40px;
  height: 30px;
}
.InfoUser:hover ul {
  display: flex;
  flex-direction: column;
}
.InfoUser ul {
  display: none;
  position: absolute;
  right: 40px;
  width: 120px;
  padding: 5px 8px;
  background-color: #D9D9D9;
  font-size: 13pt;
  border-radius: 10px;
}
.InfoUser ul :last-child {
  border-bottom: 0px !important;
}
.InfoUser ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 5px 0px;
  margin: 6px 0px;
  cursor: pointer;
  border-bottom: 1px #111C36 solid;
}
.InfoUser ul li > p {
  font-size: 11pt;
  font-family: "Regular";
  margin-right: 10px;
  color: #111C36;
}
.InfoUser ul li > span {
  color: #111C36;
  font-size: 17pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alarms .btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
}
.alarms .btns .btn {
  display: flex;
  flex-direction: row;
  font-size: 11pt;
  font-family: "Light";
  color: #FFFFFF;
  cursor: pointer;
}

.InfoUserMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.InfoUserMenu div {
  width: 85%;
  margin: 10px 0px;
}
.InfoUserMenu > :nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.InfoUserMenu > :nth-child(1) span {
  font-size: 35pt;
  color: #F3F1EF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InfoUserMenu > :nth-child(1) p {
  font-size: 13pt;
  color: #F3F1EF;
}
.InfoUserMenu > :nth-child(1) > :nth-child(2) {
  font-family: "SemiBold";
}
.InfoUserMenu > :nth-child(1) > :nth-child(1) {
  font-family: "Regular";
}
.InfoUserMenu .countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.InfoUserMenu .countdown span {
  color: #ECBB3E;
  font-size: 17pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.InfoUserMenu .countdown p {
  color: #FFFFFF;
  font-family: "Regular";
}
.InfoUserMenu .credit {
  background: #26C5A8;
}
.InfoUserMenu .nocredit {
  background: #FF7554;
}

.PopUp {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 400px;
  top: calc((100% - 400px) / 2);
  left: calc((100% - 500px) / 2);
  background-color: #8BA7F0;
  z-index: 2;
}
.PopUp button {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: center;
  border: 0px;
  border-radius: 5px;
  background-color: #F3F1EF;
  cursor: pointer;
}

.profile button {
  background-color: #26C5A8;
  color: #FFFFFF;
  border: 0px;
  height: 40px;
  font-size: 13pt;
  width: 245px;
}/*# sourceMappingURL=style.css.map */