@font-face {
    font-family: 'Bold';
    src: url('../../public/font/IBMPlexArabic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SemiBold';
    src: url('../../public/font/IBMPlexArabic-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Medium';
    src: url('../../public/font/IBMPlexArabic-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: url('../../public/font/IBMPlexArabic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Light';
    src: url('../../public/font/IBMPlexArabic-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Thin';
    src: url('../../public/font/IBMPlexArabic-Thin.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: 'Regular';
}

$colorJellyfish:#26C5A8;
$colorMangoOrange:#FF7554;
$colorLightOrange:#ECBB3E;
$colorBalticSea:#222B40;
$colorMidnight:#111C36;
$colorPurpleBlue:#7332FE;
$colorSoftBlue:#5398FF;
$colorJordyBlue:#8BA7F0;
$colorMilkWhite:#FFFFFF;
$colorWhiteRock:#ECE8E5;
$colorLinen:#F3F1EF;
$colorQuillGrey:#D9D9D9;

$FontBold :'Bold';
$FontSemiBold :'SemiBold';
$FontMedium :'Medium';
$FontRegular :'Regular';
$FontLight :'Light';
$FontThin :'Thin';

@mixin btn1(){
    background-color:$colorJellyfish ;
    color: $colorMilkWhite;
    border: 0px;
    height: 40px;
    font-size: 13pt;

}



.container-page{
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 300px - 50px - 50px);
    margin-right: 50px;    
    padding: 15px;
    background-color: $colorBalticSea;
    border-radius: 10px;

}

.InpRdiIcn{
    display: flex;
    flex-direction: row;
    width: 245px;
    justify-content: space-between;
    margin: 10px 0px;
    .rdi{
        width: 200px;
        height: 40px;
        background: $colorMilkWhite;
        border: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        input{
            display: none;
            + label{
                text-align: center;
                display: flex;
                flex-direction: row;
                &::before{
                    content: '';
                    width: 16px;
                    height: 16px;
                    border-radius: 20%;
                    background-color: $colorLinen;
                    border: 2px $colorMilkWhite solid;
                    margin-left: 8px;
                    outline: 1px $colorLightOrange solid;
                }
            }
            &:checked{
                + label{
                    &::before{
                        background: $colorLightOrange;
                    }

                }
            }
        }
    }
    .icn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $colorMilkWhite;
        span{
            font-size: 15pt;
            color: $colorSoftBlue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
.InpIcn{
    display: flex;
    flex-direction: row;
    width: 245px;
    justify-content: space-between;
    margin: 10px 0px;
    input, select{
        width: 190px;
        height: 40px;
        background: $colorMilkWhite;
        border: 0px;
        padding: 0px 5px;
        &::-webkit-inner-spin-button{
            display: none;
        }
        &::-webkit-outer-spin-button{
            display: none;
        }
        &:focus{
            outline: 0px;

        }
    }
    .icn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $colorMilkWhite;
        span{
            font-size: 15pt;
            color: $colorSoftBlue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

html, body, #root{
    height: 100%;
    background: $colorMidnight;
}

.user-login{
    display: flex;
    height: 100%;
    flex-direction: column;
    background: $colorWhiteRock;
    header{
        height: 250px;
        background: $colorMidnight;
        width: 100%;
        .logos{
            position: absolute;
            top: 75px;
            left: 15%;
            width: 350px;
            height: 350px;

            .circle{
                width: 350px;
                height: 350px;
            }
            .logoConteiner{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: right;
                position: absolute;
                top: 95px;
                left: 80px;
                img{
                    margin: 10px 0px;
                }
                :nth-child(1){
                    width: 70px;
                }
                :nth-child(2){
                    width: 200px;
                }
            }



        }
    }
    .login{
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        margin: 50px 100px;
        align-items: center;
        height: 50%;
        width: 400px;
        align-items: flex-end;
        .rowBrand{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 85%;
            justify-content: space-between;
            img{
                width: 30px;
            }
            h1{
                font-size: 18pt;
                font-family: $FontBold;
                font-weight: 800;
            }
            h6{
                font-size: 13pt;
                font-family: $FontLight;
                font-weight: 400;
            }

        }
        .FormContiner{
            width: 245px;
            margin-top: 35px;
            h5{
                font-family: $FontBold;
                font-weight: 600;
            }
            .ent{
                @include btn1();
                width: 100%;
            }
            
            .InpCpt{
                display: flex;
                flex-direction: row;
                width: 245px;
                justify-content: space-between;
                margin: 10px 0px;
                .ic{
                    display: flex;
                    flex-direction: row;
                    background: #ECE8E5;
                    width: 200px;
                    input{
                        width: calc(40% - 20px);
                        height: 40px;
                        background: $colorMilkWhite;
                        border: 0px;
                        padding: 0px 5px;
                        margin: 0px 5px;
                        &:focus{
                            outline: 0px;
                        }
                        &::-webkit-inner-spin-button{
                            display: none;
                        }
                        &::-webkit-outer-spin-button{
                            display: none;
                        }
                    }
                    img{
                        width: 60%;
                        
                        cursor: pointer;
                    }
                }
                .icn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: $colorMilkWhite;
                    cursor: pointer;
                    span{
                        font-size: 15pt;
                        color: $colorSoftBlue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

    }
}

.dashboard{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: -webkit-fill-available;
    background-color: $colorMidnight;
    padding-left: 30px;
    main{
        display:flex;
        flex: 1;
        flex-direction: row;
        padding-bottom: 50px;
       
        
    }
    header{
        display: flex;       
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-bottom: 30px;
        justify-content: space-between;
        margin-left: 50px;

        .Conteiner{
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: space-between;
            width: calc(100% - 280px - 50px);
            margin-right: 50px;
        }

        .logos{
            
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            :nth-child(1){
                width: 50px;
                
            }
            :nth-child(2){
                width: 150px;
                margin-left: 15px;
                
            }
            
        }
        
        
        .exit{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 25px;
            width: 100px;
            border-radius: 5px;  
            justify-content: center;
            background-color: $colorBalticSea;
            font-family: $FontRegular;
            margin-right: 150px;
            cursor: pointer;
            :nth-child(1){
                display: flex;
                font-size: 12px;        
                color: $colorMangoOrange;
            }
            :nth-child(2){
                color: $colorLinen;
                font-size: 9pt;
                margin-right:5px ;
            }
           
        }
        .Info{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 3;

        }
        

        
    }
    

}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    background-color: $colorBalticSea;
    width: 280px;
    border-top-left-radius: 10px;
    .InfoUserMenu{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        div{
            width: 80%;
            margin: 10px 0px;
        }
        >:nth-child(1){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span{
                font-size: 35pt;
                color: $colorLinen;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                font-size: 13pt;
                color: $colorLinen;
            }
            >:nth-child(2){
                font-family: $FontSemiBold;
            }
            >:nth-child(1){
                font-family: $FontRegular;
            }
        }
        .countdown{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 35px;
            span{
                color: $colorLightOrange;
                font-size: 17pt;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 5px;
            }
            p{
                color: $colorMilkWhite;
                font-family: $FontRegular;
            }
        }
        .credit{
            background: $colorJellyfish;
        }
        .nocredit{
            background: $colorMangoOrange;
        }
    }
    .basic{
        width: 100%;
        margin-top: 50px;
        >p{
            color: aliceblue;
            cursor: pointer;
            width: 100%;
            height: 65px;
            font-family: $FontBold;
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .active{
            background: $colorQuillGrey;
            color: $colorMidnight;

            &::after{
                content: '';
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 7px solid $colorQuillGrey;
                position: absolute;
                left: -7px;
            }
        }
        .noactive{
            &:hover{
                background: rgba($color: $colorSoftBlue, $alpha: 0.25);
            }
        }

    }
    
}


.InfoUser{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    >p{
        display: flex;
        flex-direction: row;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        background-color: rgba($colorWhiteRock,0.7);
        border-radius: 5px ;
        width: 40px;
        height: 30px;
        
    }
   
    ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 60px;
        width: 120px;
        padding: 5px 8px;
        background-color: $colorQuillGrey;
        font-size: 13pt;
        border-radius: 10px;
        :last-child{
            border-bottom: 0px !important;

        }
        


        li{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 0px 5px 0px;
            margin: 6px 0px;
            
            border-bottom: 1px $colorMidnight solid;
            &:hover{
                background-color: $colorLinen;
            }
            
            >p{
                font-size: 11pt;
                font-family: $FontRegular;
                margin-right: 10px;
                color: $colorMidnight;

            }
            >span{
                color: $colorMidnight;
                font-size: 17pt;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    
}

.alarms{

    .btns{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        
        .btn{
            display: flex;
            flex-direction: row;        
            font-size: 11pt;
            font-family: $FontLight;
            color: $colorMilkWhite;
            cursor: pointer;
        }
    }

}


.PopUp{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    position: absolute;
    width: 500px;
    height: 400px;
    top: calc((100% - 460px)/2);
    left: calc((100% - 560px)/2);
    background-color: $colorMidnight;
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
    .TicketTitle{
        width: 100%;
    }
    .closeIcon{
        align-self: self-start;
        color: $colorLinen;
        font-size: 15pt;
    }
    >:nth-child(n){
        margin-bottom: 5px;
        padding: 5px;
        border: 0px;
        border-radius: 3px;
        &:focus{
            outline: 0px;
        }
    }   
    button{
        display: flex;
        flex-direction: row;
        width: 50px;
        text-align: center;
        justify-content: center;
        border: 0px;
        border-radius: 5px;
        background-color: $colorLinen;
        cursor: pointer;  
    }
    textarea{
        height: 70%;
        width: 100%
    }
    button{
        @include btn1();
        width: 200px
        
    }
}

.profile{
    button{
        @include btn1();
        width: 245px;
    }
}

.TimePricing{
    display: flex;
    flex-direction: row;
    input{
        display: none;
        + label{
            display: flex;
            flex-direction: row;
            font-family: $FontMedium;
            color: $colorMilkWhite;
            justify-content:center;
            width: 25%;

        }
        &:checked{
            + label{
                background-color: $colorLightOrange;
            }
        }
    }

}

.TimeDetail{
    display: flex;
    flex-direction: row;
    font-family: $FontRegular;
    color: $colorLinen;
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .create{
        display: flex;
        flex-direction: column;
        font-size: 20pt;
        color: $colorLinen;
        background-color: $colorMangoOrange;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        cursor: pointer;
        span{
            margin: 0px;
            cursor: pointer;
            font-size: 35px;
            height: 35px;
        }
        h6{
            font-size: 14pt;
            font-family: $FontThin;

        }
    }
    .history{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        width: 100%;
        align-items: center;
        >:nth-child(2n){
            background-color: $colorLinen;
            font: $colorBalticSea;
            .date{
                color: $colorBalticSea;
            }
            .title{
                color: $colorBalticSea;
            }
            .content{
                color: $colorBalticSea;
            }
            p, span{
                color: $colorBalticSea;

            }

        }
        >:nth-child(2n+1){
            font: $colorBalticSea;
            .date{
                color: $colorLinen;
            }
            .title{
                color: $colorLinen;
            }
            .content{
                color: $colorLinen;
            }
            p, span{
                color: $colorLinen;
            }
            
        }
        .element-row{
            height: 40px;
            margin: 3px 0px;
            align-items: center;
            justify-content: center; 
            font-family: $FontThin;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            border: 1px $colorLinen solid;
            width: 85%;
            justify-content: space-between;
            padding: 0px 20px;
            .AlarmsEdit{
                display: flex;
                flex-direction:row;
                width: 15%;
                justify-content: space-around;
            }
            .date{
                flex: 1;
                text-align: center;
                font-size: 10pt;
            }
            .title{
                flex: 3;
                text-align: center;
                font-size: 15pt;
            }
            .content{
                flex: 8;
                text-align: center;
                font-size: 11pt;
                text-overflow: ellipsis;
            }
            p{
                font-size: 14pt;
                flex: 2;

            }
            span{
                font-size: 18pt;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                cursor: pointer;
            }
        }
    }
}

